/* Common Styles */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* Header section */
.nav-container{
    display: flex;
    justify-content: space-around;
    width: 1170px;
    margin: 0 auto;
    margin-top: 60px;
}
.logo{
    display: flex;
    align-items: center; 
    gap: 15px;
}
.logo img{
    width: 48px;
    height: 56px;
}
.logo-h1-s1{
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}
.logo-h1-s2{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container ul{
    list-style: none;
    display: inline-flex;
    gap: 44px;
}
.nav-bar ul li a{
    color:#424247;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.nav-bar-s1{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
.line-icon{
    display: flex;
    display: none;
}
/* Main Section Start */
main{
    width: 1170px;
    margin: 0 auto;
}
/* Banner Section */
.banner-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.banner-container h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}
.banner-container p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 70%;
    margin: 0 auto;
}
.banner-container > .search-bar{
    display: flex;
    justify-content: center;
    width: 650px;
    margin: 20px auto 0;
}
.search-bar{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30); 
    display: inline-flex;
    justify-content: center;
    padding: 16px;
    gap: 24px;
}
.search-bar input,select{
    padding: 16px;
    border-style: none;
    border-radius: 8px;
    background: #FFF;
}
#srch-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}
/* Popular tour Section Styles */
.popular-tour-container{
    width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
.tour-container-01 h2{
    color: #131318;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 800;
}
.tour-container-01-description-primary{
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.tour-container-01-ul{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.tour-container-01-ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.popular-tour-container-btn{
    color: #FFF;
    text-align: center;
    padding: 14px 34px;
    font-size: 1.25rem;
    font-weight: 800;
    border-style: none;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 25px;
}
.tour-container-02 img{
    width: 540px;
    height: 550px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat,  url('Images/Rectangle\ 4.png');
}
/* Destination Section Styles */
.destination-container{
    margin-top:100px ;
    margin-bottom: 100px;
}
.destination-div-01{
    margin-top: 0;
    margin-bottom: 24px;
}
.destination-div-01 h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.destination-div-01 p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px auto 40px;
}
.destination-div-02{
    display: flex;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 24px;
}
.destination-div-02 .destination-sub-div-1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 130px 226px 130px;
    font-weight: 800;
}
.destination-div-02 .destination-sub-div-2{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 130px 220px 130px;
    font-weight: 800;
}
.destination-div-03{
    display: flex;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 24px;
}
.destination-div-03 .destination-sub-div-1{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
    width: 374px;
    height: 286px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 125px 130px 125px;
    font-weight: 800; 
}
.destination-div-03 .destination-sub-div-2{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
    width: 474px;
    height: 286px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 125px 120px 125px;
    font-weight: 800; 
}
.destination-div-03 .destination-sub-div-3{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    width: 274px;
    height: 286px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 125px 80px 125px;
    font-weight: 800; 
}
.destination-div-04{
    display: flex;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 0;
} 
.destination-div-04 .destination-sub-div-1{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
    width: 473px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 130px 156px 130px;
}
.destination-div-04 .destination-sub-div-2{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
    color: #FFF;
    width: 673px;
    height: 300px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 132px 260px 132px;
}
/* Choose Us Section Style */
.choose-us-container{
    margin-bottom: 100px;
}
.choose-us-container .div-01 h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choose-us-container .div-01 p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
    margin: 10px auto;
}
.choose-us-sub-container{
    display: flex;
    gap: 24px;
    margin-top:48px ;
    margin-bottom: 24px;
}
.choose-us-container .div-02{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose-us-container .div-02 img{
    width: 80px;
    height: 80px;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-02 h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-02 p{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-03{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-container .div-03 img{
    width: 80px;
    height: 80px;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-03 h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-03 p{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-04{
    width: 573px;
    height: 284px;
    border-style: none;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
.choose-us-container .div-04 img{
    width: 80px;
    height: 80px;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-04 h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-left: 32px;
}
.choose-us-container .div-04 p{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 32px;
    padding-left: 32px;
}
/* Footer Section Styles */
.footer-container{
    width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin: 0 auto;
}
.footer-container > .footer-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.footer-logo{
    margin: 0 auto;
    padding-top: 100px;
    align-items: center;
    gap: 15px;
}
.footer-logo img{
    width: 40px;
    height: 46px;
}
.footer-logo .logo-h1-s1{
    color:#131318;
    font-size: 32px;
    font-weight: 800;
}
.footer-logo .logo-h1-s2{
    color: #FF5400;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}
.footer-description{
    width: 769px;
    margin: 0 auto 30px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0 auto 50px;
}
.footer-icons img{
    height: 24px;
}
.hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
}
.copyright{
    width: 220px;
    height: 20px;
    text-align: center;
    margin: 50px auto 110px;
}